/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

//variables
:root {
    --cian: #00ced1;
    --main-bg: #363636;
    --dark-shadow: #1a1a1a;
    --transparent-shadow: #1a1a1a6b;
    --light: #ffffff;
}

//scrollbar styles
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--main-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--cian);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

//fade animation for forms
.slide-enter-active,
.slide-leave-active {
    transform: translateX(0);
    transition: .3s ease;
    opacity: 1;
}

.slide-enter-from,
.slide-leave-active {
    opacity: 0;
    transform: translateX(100%);
}

// task animation
.task-enter-active,
.task-leave-active {
    transform: translateX(0);
    transition: 1.5s ease !important;
    opacity: 1;
}

.task-enter-from,
.task-leave-active {
    z-index: 0;
    transition: 1.5s ease !important;
    opacity: 0;
    transform: translateX(100%);
}
